@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*
Azul Escuro (#001F3F):
Fundo do cabeçalho ou banner principal.
Botões de destaque ou chamadas para ação.
--------------------------
Laranja (#FF851B):

Destaque para botões de reprodução ou interação.
Elementos de design que precisam chamar a atenção.

------------------------------
Branco (#FFFFFF):

Fundo principal para áreas de conteúdo.
Texto principal para garantir legibilidade.
-------------------------------
Cinza Claro (#DDDDDD):

Fundo secundário para seções específicas.
Linhas divisórias ou bordas.
--------------------------------
Preto (#000000):

Texto de destaque para títulos ou informações críticas.
Elementos de navegação.

-------------------------------------------
Títulos:

H1 (Título Principal): 24px a 36px.
H2 (Subtítulo): 20px a 30px.
H3-H6 (Subtítulos e Sub-subtítulos): Proporcionalmente menores que os anteriores, mantendo uma hierarquia clara.
Parágrafos:

Parágrafos Principais: 16px a 18px para um bom equilíbrio entre legibilidade e conforto de leitura.
Parágrafos Menores (como em rodapés): 14px a 16px.
--------------------------------------


Montserrat: Moderna e limpa, é ótima para títulos e texto de destaque.
Roboto: Neutra e fácil de ler, funciona bem para corpo de texto.


Montserrat:
Peso regular: font-weight: 400;
Peso bold: font-weight: 700;

Roboto:
Peso regular: font-weight: 400;
Peso bold: font-weight: 700;
*/
:root {
    --cor-azul-escuro: #001F3F;
    --cor-laranja: #FF851B;
    --cor-branca: #FFFFFF;
    --cor-cinza-claro: #DDDDDD;
    --cor-preta: #000000;
    
  }
  
  body {
    background-color: var(--cor-branca);
    color: var(--cor-preta);
    font-family: 'Arial', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--cor-azul-escuro);
    font-family: 'Montserrat', sans-serif;
  }
 .app{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
 }
 header{   
    padding: 1.6rem 0;
 }
 header nav, ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 nav .logo h1{
    font-size: 4rem;
    line-height: 32px;
    margin-left: 7px;
 }
 nav .logo p{
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
    background-color: var(--cor-laranja);
    color: var(--cor-azul-escuro);
    padding: 4px;
    border-radius: .4rem;
 }
 nav ul{
    gap: 2rem;
 }
 nav li {
    list-style: none;
    display: inline-flex;    
 }
 nav li a{    
    text-decoration: none;
    color: var(--cor-azul-escuro);
    text-transform: capitalize;
    font-weight: 700;
    transition: .3s;  
 }
 nav li a:hover{
    transform: translateY(-5px);
    color: var(--cor-laranja);
 }
 .banner-hero{
    width: 100%;
    min-height: 50vh;
    background-color: var(--cor-azul-escuro);
   
 }
 .banner{
    width: 100%;     
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.6rem 0;
        
    
 }
 .banner h2{
    width: 500px;
    color: var(--cor-laranja);
    font-weight: 700;
    font-size: 5rem;
    
 }
.banner i{
   font-size: 30.5rem;
   color: var(--cor-cinza-claro);
   transform: scale(.6);
   transition: all .3s ease-in-out, color .3s ease-out;
   animation: pulsar 3s infinite;
}
.banner i:hover{
    cursor: pointer;
    color: var(--cor-branca);
    
}


@keyframes pulsar{
    0%{
       transform: translateY(10px);
    }
    50%{
        transform: translateY(-15px);
        
    }
  
    
    100%{
        
        transform: translateY(10px);
    }
}